<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Bon Reader</ion-title>
</ion-toolbar>  
Scanning...
<ion-content  padding>
  <h2 class="center">Rechnung Scannen</h2>
  <div id="invoiceDetails" class="center" style="display: none;">
    <ion-grid>
      <ion-row>
        <ion-col>Rechnungsnr.:</ion-col>
        <ion-col id="InvoiceNumber">Wert</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Rechnungsdatum:</ion-col>
        <ion-col id="Timestamp">Wert</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Betrag</ion-col>
        <ion-col id="Value">Wert</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Kassen ID:</ion-col>
        <ion-col id="TerminalId">Wert</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Zertifikatsnummer:</ion-col>
        <ion-col ></ion-col>
      </ion-row>
	  <ion-row>
        <ion-col></ion-col>
        <ion-col id="CertificateId">Wert</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card>
    <!--https://docs.microsoft.com/en-us/visualstudio/cross-platform/tools-for-cordova/first-steps/get-started-with-ionic2?view=toolsforcordova-2017-->
    <ion-list>
      <button class="button button-large" ion-item (click)="startScan()">
        <ion-icon name="qr-scanner" item-left></ion-icon>
        Scan
      </button>
      <button class="button button-large" ion-item (click)="share()" id="shareButton" style="display: none;">
        <ion-icon name="share" item-left></ion-icon>
        Share
      </button>
    </ion-list>
  </ion-card>
</ion-content>